name: Build and push docker image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_TAG: "v${{ github.run_number }}"

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Login to Docker Hubs
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PASSWORD }}
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true # Set to true to push the image to Docker Hub
          tags: ${{ secrets.DH_USER }}/sample-next-app:${{ env.DOCKER_IMAGE_TAG }}
   
       # 1️⃣ Prepare compact payload
      - name: Prepare Payload
        id: payload
        run: |
          JSON=$(jq -c -n \
            --arg repo "$GITHUB_REPOSITORY" \
            --arg sha "$GITHUB_SHA" \
            --arg msg "${GITHUB_EVENT_HEAD_COMMIT_MESSAGE}" \
            --arg actor "$GITHUB_ACTOR" \
            --arg run_id "$GITHUB_RUN_ID" \
            --arg run_number "$GITHUB_RUN_NUMBER" \
            --arg image_name "my_app" \
            --arg image_tag "v$GITHUB_RUN_NUMBER" \
            --arg deploy_env "production" \
            '{repo:$repo, commit_sha:$sha, commit_message:$msg, actor:$actor, run_id:$run_id, run_number:$run_number, image_name:$image_name, image_tag:$image_tag, deploy_env:$deploy_env}')
          echo "json=$JSON" >> $GITHUB_OUTPUT

      # 2️⃣ Compute HMAC signature using secret
      - name: Compute HMAC Signature
        id: sign
        run: |
          SIG=$(echo -n "${{ steps.payload.outputs.json }}" | openssl dgst -sha256 -hmac "${{ secrets.WEBHOOK_SECRET }}" | cut -d " " -f2)
          echo "sig=sha256=${SIG}" >> $GITHUB_OUTPUT

      # 3️⃣ Send webhook to Flask listener
      - name: Send Deployment Webhook
        id: deploy
        uses: joelwmale/webhook-action@master
        with:
          url: ${{ secrets.DEPLOY_WEBHOOK_URL }}
          headers: '{"X-Hub-Signature": "${{ steps.sign.outputs.sig }}", "Content-Type": "application/json"}'
          body: '${{ steps.payload.outputs.json }}'

      # 4️⃣ Check response and fail workflow if deployment fails
      - name: Check Deployment Response
        run: |
          echo "Webhook Response: ${{ steps.deploy.outputs.response }}"
          STATUS=$(echo "${{ steps.deploy.outputs.response }}" | jq -r '.status')
          if [[ "$STATUS" != "success" ]]; then
            echo "Deployment failed!"
            exit 1
          fi
