name: Build and push docker image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_TAG: "v${{ github.run_number }}"

jobs:
  build-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PASSWORD }}
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true # Set to true to push the image to Docker Hub
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sample-next-app:${{ env.DOCKER_IMAGE_TAG }}
   