name: Build and push docker image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_TAG: "v${{ github.run_number }}"

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Login to Docker Hubs
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PASSWORD }}
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true # Set to true to push the image to Docker Hub
          tags: ${{ secrets.DH_USER }}/sample-next-app:${{ env.DOCKER_IMAGE_TAG }}
      
      - name: Update Deployment Manifest
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'manifest/deploy.yaml' # Path to your YAML manifest
          masterBranchName: main
          propertyPath: '$.spec.template.spec.containers[0].image' # JSONPath to the image field
          value: '${{ secrets.DH_USER }}/sample-next-app:${{ env.DOCKER_IMAGE_TAG }}' # The new image value
          commitChange: true # Commit the changes back to the repository
          message: 'Update Docker image tag to ${{ env.DOCKER_IMAGE_TAG }}'
   