name: Build and push docker image to Docker Hub

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_TAG: "v${{ github.run_number }}"

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Login to Docker Hubs
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PASSWORD }}
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Docker Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true # Set to true to push the image to Docker Hub
          tags: ${{ secrets.DH_USER }}/sample-next-app:${{ env.DOCKER_IMAGE_TAG }}
   
      - name: Create JSON Payload
        id: payload
        run: |
          cat <<EOF > payload.json
          {
            "repo": "${{ github.repository }}",
            "commit_sha": "${{ github.sha }}",
            "commit_message": "${{ github.event.head_commit.message }}",
            "actor": "${{ github.actor }}",
            "pusher": "${{ github.actor }}",
            "run_id": "${{ github.run_id }}",
            "run_number": "${{ github.run_number }}",
            "image_name": "${{ secrets.DH_USER }}/sample-next-app",
            "image_tag": "${{ env.DOCKER_IMAGE_TAG }}",
            "deploy_env": "production"
          }
          EOF

      # Step 2: Compute HMAC SHA256 signature
      - name: Compute HMAC Signature
        id: sign
        run: |
          BODY=$(cat payload.json)
          SIG=$(printf "$BODY" | openssl dgst -sha256 -hmac "${{ secrets.WEBHOOK_SECRET }}" | cut -d " " -f2)
          echo "sig=sha256=${SIG}" >> $GITHUB_OUTPUT

      # Step 3: Send webhook to Flask listener
      - name: Send Deployment Webhook
        id: deploy
        uses: joelwmale/webhook-action@master
        with:
          url: ${{ secrets.DEPLOY_WEBHOOK_URL }}
          method: POST
          headers: |
            {"X-Hub-Signature": "${{ steps.sign.outputs.sig }}", "Content-Type": "application/json"}
          body: |
            $(cat payload.json)

      # Step 4: Check response and fail workflow if deployment fails
      - name: Check Deployment Response
        run: |
          echo "Webhook Response: ${{ steps.deploy.outputs.response }}"
          STATUS=$(echo "${{ steps.deploy.outputs.response }}" | jq -r '.status')
          if [[ "$STATUS" != "success" ]]; then
            echo "Deployment failed!"
            exit 1
          fi
   
